<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.ProductImageMapper">

  <select id="getAllProductImgs" resultType="com.example.demo.model.ProductImageDTO">
    SELECT 
      seq,
      prod_no,
      img_class,
      img_path,
      order_seq
    FROM product_img
  </select>
  
  <insert id="insertImage">
    INSERT INTO product_img
    (prod_no, img_path, img_class)
    VALUES
    (#{prod_no}, #{img_path}, #{img_class})
  </insert>
  
  <select id="getImageByProdNo" resultType="com.example.demo.model.ProductImageDTO">
	  SELECT 
	    seq,
	    prod_no,
	    img_class,
	    img_path,
	    order_seq
	  FROM product_img
	  WHERE prod_no = #{prod_no}
	  LIMIT 1
  </select>
  
  <update id="updateImage">
    UPDATE product_img
    SET img_path = #{img_path},
        img_class = #{img_class}
    WHERE prod_no = #{prod_no}
  </update>
  
  <delete id="deleteImageProduct">
  	DELETE FROM product_img WHERE prod_no = #{prod_no}
  </delete>

</mapper>
