<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.UserJoinMapper">

  <insert id="insertUser" parameterType="com.example.demo.model.UserJoinDTO">
    INSERT INTO custom (
      cust_id, password, cust_nm, phone, email,
      address1, address2, zip, gender, birthday,
      status, grade, tot_buy_amt, reg_dtm, upd_dtm
    ) VALUES (
      #{cust_id}, #{password}, #{cust_nm}, #{phone}, #{email},
      #{address1}, #{address2}, #{zip}, #{gender}, #{birthday},
      "1", #{grade}, #{tot_buy_amt}, NOW(), NOW()
    )
  </insert>

  <select id="countByCustId" resultType="int" parameterType="string">
    SELECT COUNT(*) FROM custom WHERE cust_id = #{cust_id}
  </select>

</mapper>